name: Deploy Images to GHCR

on:
  push:
    branches:
      - main
  schedule:
    - cron: '0 6 * * 6'

  workflow_dispatch: # Allows manual triggering

jobs:
  push-store-image:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: '.'
    steps:
      - name: 'Checkout GitHub Action'
        uses: actions/checkout@main

      - name: 'Delete huge unnecessary tools folder'
        run: rm -rf /opt/hostedtoolcache

      - name: 'Login to GitHub Container Registry'
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: 'Build and Push Cosmic-Atomic Image'
        run: |
          podman build -f Containerfile.cosmic-atomic --tag ghcr.io/m-fe02/fedora-bootc:cosmic-atomic
          podman push ghcr.io/m-fe02/fedora-bootc:cosmic-atomic
          podman rmi ghcr.io/m-fe02/fedora-bootc:cosmic-atomic
          podman system prune -a -f

      - name: 'Build and Push Silverblue Image'
        run: |
          podman build -f Containerfile.silverblue --tag ghcr.io/m-fe02/fedora-bootc:silverblue
          podman push ghcr.io/m-fe02/fedora-bootc:silverblue
          podman rmi ghcr.io/m-fe02/fedora-bootc:silverblue
          podman system prune -a -f

      - name: 'Build and Push Kinoite Image'
        run: |
          podman build -f Containerfile.kinoite --tag ghcr.io/m-fe02/fedora-bootc:kinoite
          podman push ghcr.io/m-fe02/fedora-bootc:kinoite
          podman rmi ghcr.io/m-fe02/fedora-bootc:kinoite
          podman system prune -a -f
