name: Deploy Images to GHCR

on:
  push:
    branches:
      - deck
  schedule:
    - cron: '0 6 * * 6'
  workflow_dispatch:

# Required permissions for signing with Cosign
permissions:
  contents: read
  packages: write
  id-token: write

jobs:
  push-store-image:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: '.'
    steps:
      - name: 'Checkout GitHub Action'
        uses: actions/checkout@main

      - name: 'Install Cosign'
        uses: sigstore/cosign-installer@v3.8.2

      - name: 'Delete huge unnecessary tools folder'
        run: rm -rf /opt/hostedtoolcache

      - name: 'Login to GitHub Container Registry'
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # --- GNOME ---
      - name: 'Build and Push GNOME Image'
        run: |
          podman build -f Containerfile.deck-gnome --tag ghcr.io/m-fe02/fedora-bootc:deck-gnome
          podman push ghcr.io/m-fe02/fedora-bootc:deck-gnome
          podman system prune -a -f

      - name: 'Sign GNOME Image'
        env:
          COSIGN_PRIVATE_KEY: ${{ secrets.SIGNING_SECRET }}
        run: |
          cosign sign --yes --key env://COSIGN_PRIVATE_KEY ghcr.io/m-fe02/fedora-bootc:deck-gnome

      # --- KINOITE ---
      - name: 'Build and Push KDE Image'
        run: |
          podman build -f Containerfile.deck-kde --tag ghcr.io/m-fe02/fedora-bootc:deck-kde
          podman push ghcr.io/m-fe02/fedora-bootc:deck-kde
          podman system prune -a -f

      - name: 'Sign KDE Image'
        env:
          COSIGN_PRIVATE_KEY: ${{ secrets.SIGNING_SECRET }}
        run: |
          cosign sign --yes --key env://COSIGN_PRIVATE_KEY ghcr.io/m-fe02/fedora-bootc:deck-kde
